@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");

:root {
  --light-background: #3a3a3a;
  --dark-background: #2b2a2a;
  --light-text: #e4e4e4;
  --dark-text: #b3b3b3;
  --accent-color: #ec8bbb;
}

* {
  font-family: "Nunito", sans-serif;
  padding: 0;
}

html {
  background-color: var(--dark-background);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.app {
  display: flex;
  justify-content: center;
  color: var(--light-text);
  margin: 80px auto;
  animation: fadein 2s;
  background-color: var(--dark-background);
}

.content {
  margin-left: 20px;
  margin-right: 20px;
}

.title {
  font-size: 4em;
  color: var(--light-text);
  margin-bottom: -15px;
}

.subTitle {
  margin-bottom: 20px;
  color: var(--accent-color);
}

.about {
  margin: 20px 0px;
  color: var(--dark-text);
  max-width: 650px;
}

.socials {
  margin: 0 0 30px 0;
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.socials > a > svg > path {
  fill: var(--accent-color);
}

.experience {
  display: flex;
  flex-direction: column;
}

.subExperience {
  display: flex;
  flex-wrap: wrap;
}

.category {
  margin-top: 20px;
  margin-bottom: 10px;
}

.card {
  width: 300px;
  height: 230px;
  box-shadow: 0 4px 8px 0 rgba(20, 20, 20, 1);
  color: var(--accent-color);
  margin-right: 30px;
  margin-bottom: 20px;
  transition: 0.3s;
  border-radius: 5px;
  overflow: hidden;
  font-size: 13px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  text-align: left;
  background-color: var(--light-background);
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(5, 5, 5, 1);
}

.cardContainer {
  padding: 2px 16px;
  background-color: var(--light-background);
}

.cardContainer > b {
  font-family: Calibre, "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
    monospace;
}

.cardContainer > p {
  font-family: Calibre, "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
    monospace;
}

.skills {
  box-shadow: 0 4px 8px 0 rgba(20, 20, 20, 1);
  list-style-position: inside;
  background-color: var(--light-background);
  list-style-type: square;
  margin: 0 30px 20px 0;
  padding: 5px;
  width: 290px;
  columns: 2;
  border-radius: 5px;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.skills:hover {
  box-shadow: 0 4px 8px 0 rgba(5, 5, 5, 1);
}

.skills > li {
  padding: 5px;
  padding-bottom: 13px;
  font-family: Calibre, "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
    monospace;
  font-size: 13px;
}

.modalContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--light-text);
  padding: 30px;
  width: 1000px;
  max-width: 70%;
  height: 600px;
  max-height: 70%;
  border-radius: 8px;
  outline: none;
  overflow: auto;
  background-color: var(--dark-background);
}

.modalSubContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  color: var(--dark-text);
}

.modalSubContent > p {
  width: 45%;
  min-width: 250px;
  padding-right: 20px;
}

.modalSubContent > a {
  width: 50%;
  min-width: 250px;
}

.modalSubContent > a > img {
  max-width: 100%;
  margin-top: 16px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(20, 20, 20, 0.8);
}
